*.iml
.gradle
/local.properties
.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties
.safedk/
github.properties
/bidon/src/main/java/com/appodealstack/bidon/data/networking/impl/BidOnEndpointsImpl.kt